
@font-face {
    font-family: 'charterbold_italic';
    src: url('/fonts/charter_bold_italic-webfont.woff2') format('woff2'),
         url('/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'charterbold';
    src: url('/fonts/charter_bold-webfont.woff2') format('woff2'),
         url('/fonts/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'charteritalic';
    src: url('/fonts/') format('woff2'),
         url('/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'charterregular';
    src: url('/fonts/charter_regular-webfont.woff2') format('woff2'),
         url('/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #242424;
    color: #d9d9d9;
    font-family: 'charterregular', sans-serif;
    
    font-size: 20px;
    line-height: 30px;
    word-spacing: 0.03em;
    letter-spacing: 0.015em;
  }

a {
    color:LightPink;
    text-decoration: none;
 }
a:hover {
    color:coral;
}
h1{
    font-size: 50px;
    color:#eeeeee;
}
.container{
    text-align: left;
    width: 1000px;
    margin: auto;
    padding-top: 2cm;
}
#navbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color:#444444;
}
nav ul{
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 5px 20%;
}
nav li {
    font-size: 35px;
    display: inline;
    margin-right: 15%;
  }