
@font-face {
    font-family: 'charterbold_italic';
    src: url('/fonts/charter_bold_italic-webfont.woff2') format('woff2'),
         url('/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'charterbold';
    src: url('/fonts/charter_bold-webfont.woff2') format('woff2'),
         url('/fonts/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'charteritalic';
    src: url('/fonts/') format('woff2'),
         url('/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'charterregular';
    src: url('/fonts/charter_regular-webfont.woff2') format('woff2'),
         url('/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: url('/fonts/montserrat-light-webfont.woff') format('woff2'),
         url('/fonts/montserrat-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #242424;
    color: #d9d9d9;
    font-family: 'charterregular', serif;
    
    font-size: 20px;
    line-height: 30px;
    word-spacing: 0.03em;
    letter-spacing: 0.015em;
  }

main {
      width:650px;
      margin:auto;
  }

a {
    color:#eeeeee;
    border-bottom: 5px solid #AAAAAA;
    text-decoration: none;
    }
a:hover{
    border-bottom: 8px solid #CCCCCC;
}
#navbar a{
        border-bottom:none;
        text-decoration: none;
        color:#DD979B;
    }
#navbar a:hover {
    color:coral;
}

h1{
    font-size: 90px;
    color:#EEEEEE;
    margin: 200px auto 60px auto;
    text-align: left;
    font-family: 'montserratlight', sans-serif;
}
h2{
    font-size: 40px;
    color:#dddddd;
    font-family: 'montserratlight', sans-serif;
}
h3{
    color:#dddddd;
    font-family: 'montserratlight', sans-serif;
}
hr {
    background: none;
    border: 0;
    margin: 0.5em 0;
    padding: 0;
}
hr::after {
    content: '***';
    display: block;
    opacity: 0.8;
    line-height: 1;
    text-align: center;
}
#navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 80%;
    margin-top: 40px;
}
nav ul{
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 30%;
}
nav li {
    font-family:"charterregular";
    font-size: 35px;
    display: inline;
    margin-right: 2%;
  }

  @media (max-width: 650px) {
    main{
        max-width: 100%;
        margin:0;
    }
    nav li{
        font-size:20px;
    }
}
em {
    color: rgb(255, 230, 202);
    text-shadow: 0 0 15px rgb(255, 182, 121), 0 0 20px rgb(255, 182, 121), 0 0 25px rgb(255, 182, 121), 0 0 30px rgb(255, 182, 121), 0 0 35px rgb(255, 182, 121); 
}